@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
:root {
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
}